</main>

<!-- JAVASCRIPT FILES -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/countdown.js"></script>
<script src="js/init.js"></script>

</body>
</html>