<%- include('includes/head.ejs') %>
<main>
 <div class="List_Article">

    <div class="Article">
      <div class="repeat_article">
        <div class="Titre_Article">
            <h2>Livre</h2>
        </div>
        <img src="/images/white-blue-book.png" alt="">
        <span>16 x 24cm
        280 pages </span>
        <div class="clientSetArticle">
            <h3>Prix</h3>
            <h3>Quantité</h3>
        </div>
      </div>
    </div>
  </div>
</main>
<%- include('includes/end.ejs') %>